@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h1>SignUp</h1>
<div class="main-w3layouts wrapper">
	<h1>Creative SignUp Form</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="SignUp"  asp-controller="Account">
				@Html.ValidationSummary(true,"",new {@class="text-danger"})
				<input class="text email" type="email" asp-for=@Model.Email placeholder="Email" required="">
				<span asp-validation-for="@Model.Email"></span>
				<input class="text" type="password" asp-for=@Model.Password placeholder="Password" required="">
				<span asp-validation-for="@Model.Password"></span>

				<input class="text" type="text" asp-for=@Model.Address placeholder="Adess" required="">
				<span asp-validation-for="@Model.Address"></span>

				<input class="text" type="number" asp-for=@Model.SSN placeholder="ssn" required="">
				<span asp-validation-for="@Model.SSN"></span>

				<input class="text w3lpass" type="password" asp-for=@Model.ConfirmedPassword placeholder ="Confirm Password" required="">
				<span asp-validation-for="@Model.ConfirmedPassword"></span>

				<div class="wthree-text">
					<label class="anim">
						<input type="checkbox" class="checkbox" asp-for=@Model.IsAgree required="">
						<span>I Agree To The Terms & Conditions</span>
					</label>
					<div class="clear"> </div>
				</div>
				<input type="submit" value="SIGNUP">
			</form>
			<a asp-controller="Account" asp-action="SignIn">Have Account?  Login </a>
		</div>
		@section Scripts{
			<partial name="_ValidationScriptsPartial" />
		}
	</div>
	</div>

